<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ral.dao.spec.SpecValueMapper" >

  <cache eviction="FIFO" type="com.ral.config.MybatisRedisCache" flushInterval="60000" size="512" readOnly="true"  />

  <resultMap id="BaseResultMap" type="com.ral.model.entity.spec.SpecValue" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="spec_id" property="specId" jdbcType="BIGINT" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, spec_id, `value`, `alias`
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ral.model.entity.spec.SpecValueExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from spec_value
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from spec_value
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from spec_value
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ral.model.entity.spec.SpecValueExample" >
    delete from spec_value
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ral.model.entity.spec.SpecValue" >
    insert into spec_value (id, spec_id, `value`, 
      `alias`)
    values (#{id,jdbcType=BIGINT}, #{specId,jdbcType=BIGINT}, #{value,jdbcType=VARCHAR}, 
      #{alias,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ral.model.entity.spec.SpecValue" >
    insert into spec_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="specId != null" >
        spec_id,
      </if>
      <if test="value != null" >
        `value`,
      </if>
      <if test="alias != null" >
        `alias`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="specId != null" >
        #{specId,jdbcType=BIGINT},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ral.model.entity.spec.SpecValueExample" resultType="java.lang.Integer" >
    select count(*) from spec_value
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update spec_value
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.specId != null" >
        spec_id = #{record.specId,jdbcType=BIGINT},
      </if>
      <if test="record.value != null" >
        `value` = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.alias != null" >
        `alias` = #{record.alias,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update spec_value
    set id = #{record.id,jdbcType=BIGINT},
      spec_id = #{record.specId,jdbcType=BIGINT},
      `value` = #{record.value,jdbcType=VARCHAR},
      `alias` = #{record.alias,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ral.model.entity.spec.SpecValue" >
    update spec_value
    <set >
      <if test="specId != null" >
        spec_id = #{specId,jdbcType=BIGINT},
      </if>
      <if test="value != null" >
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        `alias` = #{alias,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ral.model.entity.spec.SpecValue" >
    update spec_value
    set spec_id = #{specId,jdbcType=BIGINT},
      `value` = #{value,jdbcType=VARCHAR},
      `alias` = #{alias,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="batchInsert">
    INSERT INTO spec_value(spec_id, value,alias) VALUES
    <foreach collection="values" separator="," item="item">
      (#{item.specId,jdbcType=BIGINT},#{item.value,jdbcType=VARCHAR},#{item.alias,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <update id="batchUpdate">
    <foreach collection="values" item="item" index="index" open="" close="" separator=";">
      UPDATE spec_value
      <set>
        <if test="specId != null" >
          spec_id = #{item.specId,jdbcType=BIGINT},
        </if>
        <if test="value != null" >
          `value` = #{item.value,jdbcType=VARCHAR},
        </if>
        <if test="alias != null" >
          `alias` = #{item.alias,jdbcType=VARCHAR},
        </if>
      </set>
      WHERE id = #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
</mapper>