<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ral.dao.item.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.ral.model.entity.item.Item" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_title" property="shortTitle" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
    <result column="catalog_id" property="catalogId" jdbcType="BIGINT" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="image_id" property="imageId" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="is_virtual" property="isVirtual" jdbcType="BIT" />
    <result column="seller_note" property="sellerNote" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="is_disable" property="isDisable" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, item_code, `name`, short_title, supplier_id, category_id, catalog_id, brand_id, 
    image_id, price, unit, keywords, is_virtual, seller_note, create_user, create_time, 
    last_update_user, last_update_time, is_disable
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ral.model.entity.item.ItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ral.model.entity.item.ItemExample" >
    delete from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ral.model.entity.item.Item" >
    insert into item (id, item_code, `name`, 
      short_title, supplier_id, category_id, 
      catalog_id, brand_id, image_id, 
      price, unit, keywords, 
      is_virtual, seller_note, create_user, 
      create_time, last_update_user, last_update_time, 
      is_disable)
    values (#{id,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{shortTitle,jdbcType=VARCHAR}, #{supplierId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, 
      #{catalogId,jdbcType=BIGINT}, #{brandId,jdbcType=BIGINT}, #{imageId,jdbcType=BIGINT}, 
      #{price,jdbcType=DECIMAL}, #{unit,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, 
      #{isVirtual,jdbcType=BIT}, #{sellerNote,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateUser,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{isDisable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ral.model.entity.item.Item" >
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="shortTitle != null" >
        short_title,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="catalogId != null" >
        catalog_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="isVirtual != null" >
        is_virtual,
      </if>
      <if test="sellerNote != null" >
        seller_note,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="isDisable != null" >
        is_disable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortTitle != null" >
        #{shortTitle,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="catalogId != null" >
        #{catalogId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="imageId != null" >
        #{imageId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="isVirtual != null" >
        #{isVirtual,jdbcType=BIT},
      </if>
      <if test="sellerNote != null" >
        #{sellerNote,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisable != null" >
        #{isDisable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ral.model.entity.item.ItemExample" resultType="java.lang.Integer" >
    select count(*) from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.itemCode != null" >
        item_code = #{record.itemCode,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.shortTitle != null" >
        short_title = #{record.shortTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        supplier_id = #{record.supplierId,jdbcType=BIGINT},
      </if>
      <if test="record.categoryId != null" >
        category_id = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.catalogId != null" >
        catalog_id = #{record.catalogId,jdbcType=BIGINT},
      </if>
      <if test="record.brandId != null" >
        brand_id = #{record.brandId,jdbcType=BIGINT},
      </if>
      <if test="record.imageId != null" >
        image_id = #{record.imageId,jdbcType=BIGINT},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.unit != null" >
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.keywords != null" >
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.isVirtual != null" >
        is_virtual = #{record.isVirtual,jdbcType=BIT},
      </if>
      <if test="record.sellerNote != null" >
        seller_note = #{record.sellerNote,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateUser != null" >
        last_update_user = #{record.lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateTime != null" >
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDisable != null" >
        is_disable = #{record.isDisable,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update item
    set id = #{record.id,jdbcType=BIGINT},
      item_code = #{record.itemCode,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      short_title = #{record.shortTitle,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=BIGINT},
      category_id = #{record.categoryId,jdbcType=BIGINT},
      catalog_id = #{record.catalogId,jdbcType=BIGINT},
      brand_id = #{record.brandId,jdbcType=BIGINT},
      image_id = #{record.imageId,jdbcType=BIGINT},
      price = #{record.price,jdbcType=DECIMAL},
      unit = #{record.unit,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      is_virtual = #{record.isVirtual,jdbcType=BIT},
      seller_note = #{record.sellerNote,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_update_user = #{record.lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      is_disable = #{record.isDisable,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ral.model.entity.item.Item" >
    update item
    <set >
      <if test="itemCode != null" >
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortTitle != null" >
        short_title = #{shortTitle,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="catalogId != null" >
        catalog_id = #{catalogId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="imageId != null" >
        image_id = #{imageId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="isVirtual != null" >
        is_virtual = #{isVirtual,jdbcType=BIT},
      </if>
      <if test="sellerNote != null" >
        seller_note = #{sellerNote,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisable != null" >
        is_disable = #{isDisable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ral.model.entity.item.Item" >
    update item
    set item_code = #{itemCode,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      short_title = #{shortTitle,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      catalog_id = #{catalogId,jdbcType=BIGINT},
      brand_id = #{brandId,jdbcType=BIGINT},
      image_id = #{imageId,jdbcType=BIGINT},
      price = #{price,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      is_virtual = #{isVirtual,jdbcType=BIT},
      seller_note = #{sellerNote,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      is_disable = #{isDisable,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>



  <resultMap id="DtoResultMap" type="com.ral.model.dto.item.ItemDto" extends="BaseResultMap">
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="catalog_name" property="catalogName" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="query_dto_column_list">
      item.id, item.item_code, item.name, item.short_title,
      item.supplier_id, item.category_id, item.catalog_id,
      item.brand_id, item.image_id, item.price, item.unit,
      item.keywords, item.is_virtual, item.seller_note,
      item.create_user, item.create_time, item.last_update_user, item.last_update_time,
      image.url as 'image_url',
      catalog.name as 'catalog_name',
      category.name as 'category_name',
      brand.name as 'brand_name'
  </sql>

  <sql id="query_dto_from_table_sql">
      item
      LEFT JOIN image on item.image_id = image.id
      LEFT JOIN catalog on catalog.id = item.catalog_id
      LEFT JOIN category on category.id = item.category_id
      LEFT JOIN brand on item.brand_id = brand.id
  </sql>

  <sql id="query_dto_where_sql">
    <where>
      item.is_disable = FALSE
      <if test="itemCode != null">
        and item.item_code = #{itemCode,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and item.`name` = #{name,jdbcType=VARCHAR}
      </if>
      <if test="shortTitle != null">
        and item.`short_title` = #{shortTitle,jdbcType=VARCHAR}
      </if>
      <if test="supplierId != null">
        and item.supplier_id = #{supplierId,jdbcType=BIGINT}
      </if>
      <if test="categoryId != null">
        and item.category_id = #{categoryId,jdbcType=BIGINT}
      </if>
      <if test="catalogId != null">
        and item.`catalog_id` = #{catalogId,jdbcType=BIGINT}
      </if>
      <if test="brandId != null">
        and item.`brand_id` = #{brandId,jdbcType=BIGINT}
      </if>
      <if test="keywords != null">
        and item.`keywords` = #{keywords,jdbcType=VARCHAR}
      </if>
      <if test="isVirtual != null">
        and item.`is_virtual` = #{isVirtual,jdbcType=BIT}
      </if>
      <if test="sellerNote != null">
        and item.`seller_note` = #{sellerNote,jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY item.create_time DESC
  </sql>

  <select id="query" resultMap="DtoResultMap" parameterType="com.ral.model.query.item.ItemQuery">
    SELECT
    <include refid="query_dto_column_list"/>
    FROM
    <include refid="query_dto_from_table_sql"/>
    <include refid="query_dto_where_sql" />
    <if test="isPage">
      LIMIT #{offset},#{rows}
    </if>
  </select>

  <select id="queryCount" resultType="int" parameterType="com.ral.model.query.item.ItemQuery">
    SELECT count(1) FROM
    <include refid="query_dto_from_table_sql"/>
    <include refid="query_dto_where_sql" />
  </select>

  <select id="selectDtoById" resultMap="DtoResultMap">
    SELECT
    <include refid="query_dto_column_list"/>
    FROM
    <include refid="query_dto_from_table_sql"/>
    WHERE item.is_disable = false and item.id = #{id}
  </select>

  <select id="selectDtoByItemCode" resultMap="DtoResultMap">
    SELECT
    <include refid="query_dto_column_list"/>
    FROM
    <include refid="query_dto_from_table_sql"/>
    WHERE item.is_disable = false and item.item_code = #{itemCode}
  </select>

</mapper>